body {
    font-family: sans-serif;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh; /*vh is vertical height/viewport height. 100vh means 100% viewport height. 
    This ensures that the app is up the full screen */
    background: linear-gradient(135deg,#f5a623, #f29d77);
    margin: 0;
    overflow: hidden;
}
.Flashcard-container {
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    max-width: 360px;
    margin-bottom: 60px;
}
.flashcard {
    width: 90%;
    height: 180px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    margin: 0 auto;
} 

/* To flip the card 180deg on Y-axis. */

.flashcard.is-flipped {

    transform: rotateY(180deg);

}

/*Setting postion absolute will ensure questions and answer are positioned at same place*/
.flashcard div {
    position: absolute; 
    width: 100%;
    height: 70%;
    backface-visibility: hidden; /*So that it only shows when the card is flipped*/
    border-radius: 15px;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2); /*greyish color in the center*/
    display: flex;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-size: 1.1em;
}
.back {
transform: rotateY(180deg);

}