body {
    font-family: sans-serif;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh; /*vh is vertical height/viewport height. 100vh means 100% viewport height. 
    This ensures that the app is up the full screen */
    background: linear-gradient(135deg,#f5a623, #f29d77);
    margin: 0;
    overflow: hidden;
}
.Flashcard-container {
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    max-width: 360px;
    margin-bottom: 60px;
}